<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-royal">
      <h1 class="title">Locations</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
       <ion-item nav-clear menu-close ng-repeat="i in data.outlets" href="#/app/menu/{{$index}}">
           {{i.outlet_name}}
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/others">
          Other locations
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          WatCard
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
