/* Empty. Add your own CSS if you like */
.prod{
	font-size: 25px;
}
.nutri{
	font-size: 20px;
	padding-top: 10px;
}
li.bold_border{
	border-bottom-width:  3px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
li.medium_border{
	border-bottom-width:  2px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
li.thin_border{
	border-bottom-width:  1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}
.table_nutri{
	max-width: 600px;
	border: solid 1px black;
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}
.align_left{
	width: 50%;
}
.align_right {
	width: 50%;
	float: right;
	position: relative;
	top:-20px;
	text-align: right;

}
li{
	min-height: 2em;
}
.rest{
	font-size: 16px;
}